body {
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../assets/images/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
.site-heading {
    margin-top: 3.5rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    line-height: 2.5;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .site-heading .upper {
    display: block;
    font-size: 2.5rem;
    font-weight: 640;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(250, 250, 231);
  }
  .site-heading .lower{
      font-size: 5rem;
      font-weight: 100;
      line-height: 3rem;
      color:rgb(250, 250, 231)
  }
  .section-heading {
    text-transform: uppercase;
  }

  .section-heading .upper {
      font-size: 2rem;
      font-weight: 300;
      color: black;
  }
  .section-heading .lower {
    font-size: 1.5rem;
    font-weight: 200;
    color: black;
  }
.text{
    font-size: 1rem;
    font-weight: 150;
    color: black;
}
.contact{
    font-size: 1rem;
    color:rgb(250, 250, 231);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  /* 


As we go through these exercises, copy the appropriate section from below and paste 
it above the comment block as needed, then edit the attributes

.common {
    margin-right: ;
    margin-left: ;
    min-width: ;
}

.header {
    height: ;
    margin-top: ;
    text-align: ;
    font-family: ;
} 

.footer {
    text-align: ;
    border-top: ;
    height: ;
    color: ;
}

.main {
    margin-left: ;
    margin-right: ;
}
only applies to paragraphs in the main section - so looks for p tags within the thing called main.
.main p {
    background-color: ;
    margin: ;
    padding: ;
}

 */